#!/usr/bin/make -f
# rules for debuild

# needed for lintian
build:
	dh_testdir
	rm keyring.gpg
	gpg --output keyring.gpg --export 6EC3F408B261E2FE103A6388A8ABC6F916974600	
binary-indep: 
	dh_clean
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	mkdir -p $(CURDIR)/debian/stsbl-keyring/usr/share/iserv/security/apt-keys/
	cp keyring.gpg $(CURDIR)/debian/stsbl-keyring/usr/share/iserv/security/apt-keys/stsbl.gpg
	mkdir -p $(CURDIR)/debian/stsbl-keyring/etc/apt/trusted.gpg.d/
        ln -s /usr/share/iserv/security/apt-keys/stsbl.gpg $(CURDIR)/debian/etc/apt/trusted.gpg.d/stsbl.gp $(CURDIR)/debian/etc/apt/trusted.gpg.d/stsbl.gpgg

	dh_testroot
	dh_installchangelogs 
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# needed for lintian
binary-arch:

binary: binary-indep

clean:
	dh_testdir
	dh_testroot
	dh_clean 

.PHONY: build clean binary-indep binary install
